.wrapper {
  margin: 0px 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  ng-repeat {
    max-width: 600px;
  }

  .content {
    margin-top: 10px;
  }

  .title {
    margin: 30px 0px 10px 0px;
  }

  img {
    max-width: 400px;
  }
}

.dark {
  background-color: rgb(12, 5, 5);
  color: rgb(248, 248, 248);
}

@media (max-width: 1210px) {
  .wrapper {
    grid-template-columns: 1fr;
    ng-repeat {
      max-width: 100%;
    }
  }
}

@media (min-width: 760px) {
  .content {
    display: grid;
    grid-template-columns: 420px 1fr;
  }
}

@media (max-width: 760px) {
  .wrapper {
    img {
      max-width: 300px;
      margin: 0;
    }
  }
}
