.wrapper {
  margin: 0px 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.wrapper ng-repeat {
  max-width: 600px;
}
.wrapper .content {
  margin-top: 10px;
}
.wrapper .title {
  margin: 30px 0px 10px 0px;
}
.wrapper img {
  max-width: 400px;
}
.dark {
  background-color: #0c0505;
  color: #f8f8f8;
}
